/* الغطاء الكامل */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    opacity: 1;
    transition: opacity 1s ease;
}

/* عند الاختفاء */
.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* نص التحميل */
.loading-text {
    font-weight: bold;
    color: #22d3ee;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #22d3ee;
    width: 0;
    animation: typing 2s steps(25) forwards, blinkCaret 0.7s step-end infinite;
    text-align: center;
    font-size: 6vw;
    /* responsive font */
    max-width: 90%;
}

/* حركة الكتابة حرف حرف */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 22ch;
    }

    /* عدد الحروف */
}

/* حركة المؤشر */
@keyframes blinkCaret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #22d3ee;
    }
}

@media (max-width: 768px) {
    .loading-text {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .loading-text {
        font-size: 22px;
    }
}