.navbar {
    background-color: #2d3748;
    padding: 8px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #00bcd4;
    /* box-shadow: 0 4px 15px rgba(0, 187, 212, 0.376); */
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-links a:hover {
      box-shadow: 0 4px 15px rgba(0, 187, 212, 0.376);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.logo h2{
    margin: 0;
    padding: 0;
} 
.logo__img{
  width: 40px;
  height: 40px;
  margin-inline: 4px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
}
.logo img{
  width: 100%;
  height: 100%;
}




svg {
  font-size: 18px;
  color: #00bcd4;
}
.theme-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.lang-dropdown {
  position: relative;
}

.lang-btn {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.lang-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #4a5568;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lang-menu .lang-btn {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.lang-menu .lang-btn:hover {
  background-color: #2d3748;
}

/* ____________________________________________________________________ */
.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: max-content;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55px;
    right:0;
    width: max-content;
    background-color: #2d3748;
    padding: 20px 40px;
    gap: 24px;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .navbar-links.rtl {
    left: 0;
    right: auto;
    text-align: center;
    direction: rtl;
    align-items: center;
    transform: translateX(100%);
  }
    .navbar-links.rtl.open {
      transform: translateX(0);
    }
  
  .navbar-links.ltr {
    right: 0;
    left: auto;
    text-align: center;
    direction: ltr;
    align-items: center;
    transform: translateX(-100%);
  }
    .navbar-links.ltr.open {
      transform: translateX(0);
    }

  body.dark .navbar-links {
    background-color: #1a202c;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .navbar-buttons {
    gap: 6px;
  }
}