#scroll-to-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    background-color: #2d3748;
    color: white !important;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    overflow: hidden;
    & svg{
        color: white !important;
        font-size: 20px;
    }
}
#scroll-to-top .hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.3s ease;
} 

