.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    background-color: white;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 14px;
    box-shadow: 0 4px 15px rgba(0, 187, 212, 0.472);
    transition: all 0.3s ease;
}

.scroll-to-top:hover {
    background-color: white;
    transform: scale(1.1);
}