:root {
    --bg-color: #c8c8c8;
    /* --text-color: #2d3748; */
}

body.dark {
    --bg-color: #2d3748;
    /* --text-color: #e0e0e0; */
}


body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: all 0.3s ease;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #2d3748;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4a5568;
}

.hidden {
    display: none;
}

.fade-in {
    animation: fadeInPage 0.5s ease forwards;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}